@font-face {
	font-family: "Tenor Sans";
	font-style: normal;
	font-weight: 400;
	src: url(Tenor+Sans_400_normal.eot);
	src: local("Tenor Sans"), local("Tenor-Sans"),
		url(Tenor+Sans_400_normal.woff2) format("woff2");
	font-display: swap;
}
